{{#each favorite_players as |player|}}

  <!-- {{> partial}} -->

  <h2><small>Player: {{player.player_name}}</small></h2>

  <ul><data-id="{{player.id}}">

    <li><button data-id="{{player.id}}" class="show-more-button jeter-test" id="{{player.id}}">Show More</button></li>
    <li><button data-id="{{player.id}}" class="remove-button" id="{{player.id}}">Remove</button></li>

  </ul>

{{/each}}
