<h2><small>Player: {{favorite_player.player_name}}</small></h2>

<ul><data-id="{{favorite_player.id}}">

  <h3><small>Team: {{favorite_player.team_name}}</small></h3>
  <h3><small>Sport: {{favorite_player.sport}}</small></h3>
  <h3><small>Position: {{favorite_player.position}}</small></h3>
  <h3><small>Player Number: {{favorite_player.player_number}}</small></h3>

</ul>
